@model Food

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Food</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
                   @Html.DisplayFor(model => model.FoodId)
               </dd>
       
               <dd>
                   @Html.DisplayNameFor(model => model.FoodName)
               </dd>
       
               <dd>
                   @Html.DisplayFor(model => model.FoodDescription)
               </dd>
       
               <dd>
                   @Html.DisplayNameFor(model => Model.Price)
               </dd>
    </dl>
</div>

     @Html.ActionLink("Back to List", "Index")

